################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPI/FrontApp/obj/Debug/FrontApp.njsprojAssemblyReference.cache
/WebAPI/Api/obj/Debug/Api.csproj.CoreCompileInputs.cache
/WebAPI/Api/*.config
